
<!DOCTYPE html>
{% extends"layout.html"%}

{% block body %}


	
<body>
 
   
   
    
</head>

<body>

<h1>*Code For Palestine* </h1>
<img src="../static/images/17362381_10210730484052586_7263413209775465639_n.jpg" title="We Code">
<h2>ABOUT ME</h2><img src=" ../static/images/img1.jpg" height="150" width="150">
<p> Hello!
<blockquote>My name is Odai Almasri. I’m 16 years old. A Palestinian lives in Gaza strip.
I’ve created this page to let you know more about our program(WE CODE FOR PALESTINE).
I’M a member of this program and I’m super proud of being there with them.
First, we code gives you the opportunity to learn how to code and design different pages and games.
Second , there are many coding languages that you can learn about.
We’ve begun learning PYTHON and then, HTML, PYTHON FLASK, CSS and JAVA.
Me, Odai, very happy because of being one of this fabulous family.
This program allows you to learn and design for 3 years. All and above, there are many foreign trainers from different countries who have the ability to teach you without feeling bored. Moreover, it gives you friends for the rest of your life.
It’s all about having fun and succeed.
If you are interested more, have  a nice time watching our photos
WE CODE FOR PALESTINE</blockquote>

</p>
<h2>As I said before,there are many coding languages that we've learnt and will learn gradually:</h2>
<ul>
    <li>Python</li>
    <li>Html(Python Flask)</li>
    <li>Css</li>
    <li>Java</li>
</ul>

<h4>for more information </h4><a href="https://www.facebook.com/groups/1434018133568841/"target="_blank"> click here</a>

<h4>*Watch the photos of my second family*</h4>
<img src="../static/images/FB_IMG_1471935394431.jpg">
<img src="../static/images/FB_IMG_1480617638694.jpg">
<img src="../static/images/FB_IMG_1480081570864.jpg">

<h2>To Contact Me</h2>
<a href="https://www.facebook.com/odai.almasri2001"target="_blank">facbook</a>
<br>
<a href="https://www.instagram.com/odai.almasri/"target="_blank">inastgram</a>




{% endblock %}








