<!DOCTYPE html>
{% extends"layout.html"%}

{% block body %}


    <meta charset="UTF-8">
    <title>odai's page</title>
    
        <h3>{{wecode}}</h3>
         

        <h1>odai ashraf almasri </h1>
     

        <div class="image">    
            <h3>odai almasri</h3>

        </div>

        <p> Hello!</p>
        <div class="presenal">
            <blockquote>My name  is Odai Almasri. I’m 16 years old. A Palestinian lives in Gaza strip.
                I’ve created this page to let you know more about our program(WE CODE FOR PALESTINE).
                I’M a member of this program and I’m super proud of being there with them.
                First, we code gives you the opportunity to learn how to code and design different pages and games.
                Second , there are many coding languages that you can learn about.
                We’ve begun learning PYTHON and then, HTML, PYTHON FLASK, CSS and JAVA.
                Me, Odai, very happy because of being one of this fabulous family.
                This program allows you to learn and design for 3 years. All and above, there are many foreign trainers from different countries who have the ability to teach you without feeling bored. Moreover, it gives you f
                riends for the rest of your life.
                It’s all about having fun and succeed.
                If you are interested more, have  a nice time watching our photos
                WE CODE FOR PALESTINE</blockquote>
            </div>
            <br>

            <div >
               <div class="imge">
                   <img src="../static/images/IMG_20160315_164457.gif">
               </div>
               <div class="imge">
                  <img src="../static/images/PIA21046-16-678x509.jpg">
              </div>
              <div class="imge">
               <img src="../static/images/PIA21046-16-678x509.jpg">
           </div>
       </div>
       <div class="list">
        <p>web language</p>
        <ul>
            <li>Html</li>
            <li>CSS</li>
            <li>Java</li>
            <li>PHP</li>
        </div>
        <div class="list">
            <p>how to learn first </p>
            <ol>
                <li> learn Html</li>
                <li>learn CSS</li>
                <li> learn Java</li>
                <li>learn PHP</li>
            </ol>
        </div>
        <div class="list">

        
            <p>movies</p>
            <ul>
                <li>harry  boter</li>
                <li>horison</li>
                <li>spaderman</li>
                <li>batman</li>
            </div>
            {% endblock %}



     